html,
body {
  height: 100%;
  margin: 0;
}


#calenderBackground {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 80%;
  height: 80%;
  background-color: rgb(52, 56, 56);
  text-align: center;
  margin: auto;
}

.headerCell {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 50%;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: lightgray;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px;
}



#title {
  font-size: 3rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#monthTitle {
  text-align: center;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

